.env
.idea
clover.xml
dummy.pdf
/vendor
index.php
/node_modules
package-lock.json
/tests/Bootstrap.php
phpunit.xml
.phpunit.result.cache
coverage/
.phpdoc
Gemfile.lock
_site
.jekyll-cache
phpDocumentor.phar
phpdoc/